html, body {
    margin: 0;
    height: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Rajdhani';
    background-color: rgb(236, 106, 22, 1);
}

.display__none{
  display: none !important;
} 

/* main{
  display: none;
} */

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgb(255, 108, 4);
  justify-content: space-between;
  z-index: 1000;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-block-width: 1px;
}

.navbar__log__img{
  width: 16%;
  margin-left: 5%;
  padding-bottom: 4px;
  cursor: pointer;
}

.navbar__log__2__img{
    width: 8%;
    cursor: pointer;
  }

.navbar__info {
    display: flex;
    flex-direction: row;
}


.navbar__info__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
}

.navbar__info__list__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color:white;
    font-size: 16px;
    font-weight: 700;
    padding: 3% 0;
   
}


.navbar__info__list__ul__li {
    margin: 0 21px; 
    font-size: 17px;
    padding: 0%;
}

.navbar__info__list__ul__li:hover{
  cursor: pointer;
  color: rgb(231, 205, 58) ;
  transition: all .3s;
  text-shadow: 2px 8px 10px yellow;
}

.ep__view__search__btn{
background-color: white;
border-style: none;
border-radius: 10px;
color:rgb(255, 108, 4);
font-weight: 700;
}

#search{
  border-style: none;
  border-radius: 7px;
}
/*-------------------------------------------*/

.home__view{
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home__logo{
    position: relative;
    /* top: 82px; */
    z-index: -1000;
    object-position: center;
    margin-top: 4.5%;
    margin-bottom: 2%;
}

.home__logo__img{
  width: 36.5%;
}

.home__video{
    /* position: relative; */
    /* top: 120px; */
    object-position: center;
    text-align: center;
}

.home__view__h2{
  display: flex;
  justify-content: center;
  position: relative;
  top: 80%;
  font-size: 20px;
  color: white;
}

/* <!-- -------------------------- animations -------------------------------------------------- --> */

.background__img__animation {
    position: absolute;
    top: 12%;
    left: -13%;
    width: 28%;
    height: 85%;
    z-index: -2000;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 35s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.background__img2{
    position: absolute;
    width: 8.5%;
    top:40%;
    left: 9%;
    z-index: -1900;
}

.background__img3{
    position: absolute;
    width: 21.8%;
    top: 6%;
    z-index: -2000;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 50s;
  }
  @-webkit-keyframes run {
    0% {
      right: 0;
    }
    50% {
      right: 40%;
    }
    100% {
      right: 0;    
    }
  }

  
.background__img4 {
    position: absolute;
    top: 86%;
    left: 24%;
    width: 4.5%;
    z-index: -2000;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 35s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.background__img6 {
    position: absolute;
    box-sizing: border-box;
    right: 10%;
    top: 86%;
    width: 15%;
    z-index: -1700;
    animation: float 30s infinite;
}

@keyframes float {
    0% {
      top: 86%;
      right: 15%;
    }
    25%{
        top:47%;
        right: 40%;
    }
    50%{
        top:47%;
        right:7%;
    }
    100% {
      right: 15%;
      top: 86%;
    }
  }
/* ------------------------------------------------------------------------- */
  
/* ------------------------------episodes view------------------------------------- */

.ep__view__h1{
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 50px;
  margin-top: 6%;
  margin-bottom: 7%;
}

.ep__view__list{
  display: flex;
  flex-wrap: wrap;
  
}

.ep__view__list__img{
  display: flex;
  flex-direction: column;
  width: 21%;
  margin: 2%;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.ep__view__list__img img{
  display: inline-block;
  border: 2px;
  border-style: solid;
  border-radius: 7px;
  border-color: white;
}

.ep__view__list__details{
    top: 120px;
    object-position: center;
    text-align: center;
}
/* ------------------------------ detail-------------------------------- */
.ep__detail{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ep__view__list__details{
  margin-bottom: 10%;
}


/* ---------------------------------------About Us------------------------------------- */

.about__view__div__h1{
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin-top: 6%;
  margin-bottom: 5%;
}

.about__view__div__img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10%;
}

.about__view__img{
  margin: 0 2%;
  text-align: center;
  color: white;
}

.about__view__img:hover{
  cursor: pointer;
  color: rgb(231, 205, 58) ;
  transition: all .3s;
  text-shadow: 2px 8px 10px yellow;
}
.sun{
  position: absolute;
  top: 4%;
  right:2%;
  width: 28%;
  height: 37%;
  z-index: -2000;
}

.background__img6__spin {
  position: absolute;
  box-sizing: border-box;
  right:7%;
  top: 74%;
  width: 17%;
  z-index: -1700;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 80s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  



  /*------------------------------------- FOOTER ---------------------------------------*/

.footer__section{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(52,92,111);
  border-top: white;
  border-top-style: solid;
  border-top-width: 2px;
  width: 100%;
  justify-content: space-between;
}

.footer__section__img{
  display: flex;
  margin: 0% 8%;
  margin-top: 0.5%;
}

.footer__icons{
  display: flex;
  flex-direction: row;
  width: 38%;
  justify-content: flex-end;
}

.icon__div{
  display: block;
  margin: 0% 5%;
  margin-top: 1%;
  text-align: center;

}

